<IfModule mod_rewrite.c>
    RewriteEngine On

    ##RewriteBase /
    ##RewriteRule sitemap.xml sitemap.php [L]

    # Remove .php file extension
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    ErrorDocument 404 404.php
    
    # ensure https
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>


# DO NOT REMOVE THIS LINE AND THE LINES BELOW PWPROTECTID:aQh7UYHsAX
AuthType Basic
AuthName "Restricted Access"
AuthUserFile /home/u207550214/domains/calessons.com/public_html/75x352/.htpasswd
Require valid-user
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aQh7UYHsAX:PWPROTECTID

