.navbar-toggler {
    color: var(--#{$prefix}white) !important;
    background-color: transparent; // remove default button style
    border: var(--#{$prefix}border-width) solid var(--#{$prefix}white) !important; 
  }

.navbar {
    width: 100%;
    font-size: 14px;
    padding: .5rem 0rem;
    background-image:none;
    @extend .flex-md-column;
    .navbar-collapse {
        width: 100%;
    }
    .navbar-nav {
        width: 100%;
        @extend .flex-column;
        .nav-item {
            font-family:$font-family-heading;
            &:hover,
            &:active,
            &:focus,
            &.active {
                background-color: $success;
                color: $white;
                a {
                    color: $white;
                }
            }
            .nav-link {
                text-transform: uppercase;
                font-weight: 800;
                &:hover,
                &:active,
                &.active {
                    background-color: $success;
                    color: $white;
                }
            }
        }
    }
    .dropdown-menu {
        position: fixed;
        height: 100%;
        width: 425px;
        border-radius:0px !important;
        font-family:$font-family-base;
        .dropdown-item {
            // padding: .4rem 1rem inherit;
            font-weight:normal;
        }
        .dropdown-menu-wrapper {
            width: 100%;
            height: 100%;
            @extend .d-flex;
            @extend .align-items-center;
            .menu {
                width: 100%;
            }
        }
    }
    .dropdown {
        > .dropdown-toggle {
            :active {
                /*Without this, clicking will make it sticky*/
                pointer-events: none;
            }
        }
        &:hover {
            > .dropdown-menu {
                display: block;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar {
        width: 100%;
        padding: .5rem 1rem;
        // @extend .flex-initial;
        .navbar-collapse {
            width: 80%;
            height:80%;
            height:80vh;
            max-height:100%;
            overflow:hidden;
            overflow-y:auto;
            margin:0px -15px;
            padding: 15px 20px;
        }
        .navbar-nav {
            width: auto;
            margin: inherit -15px inherit -15px;
            @extend .flex-column;
            .nav-item {
                color: $white;
                &:hover,
                &:active,
                &.active {
                    background-color: $success;
                    color: $white;
                }
                &:focus {
                    color: $success;
                }
                .nav-link {
                    color: $white;
                    font-weight: 700;
                    &:hover,
                    &:active,
                    &.active {
                        font-weight: 700;
                        // background-color: $secondary;
                        color: $secondary;
                    }
                }
            }
        }
        .dropdown-menu {
            position: relative;
            height: auto;
            width: 100%;
            box-shadow:none !important;
            .dropdown-menu-wrapper {
                width: auto;
                height: auto;
                display:block;
                .menu {
                    width: 100%;
                }
            }
        }
    }
}